body {
	margin: 0;
	padding: 0;
    background-color: #D20000;
}

.title {
	text-align: center;
	font-family: 'Kreon';
	font-size: 2rem;
	color: #f2f2f2;
}

.rectangle {
    background-color: #f2f2f2;
    border-radius: 2rem;
    margin: 3rem 10rem 0 10rem;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

ul li {
	font-size: 1.2rem;
	color: #666;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	line-height: 1.5;
	border-bottom: none;
}

.list-terms {
	list-style: none;
	margin: 0;
	padding: 0;
    align-items: center;
}

li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

a {
    transition: all 0.3s ease-in-out;
}
a:hover {
    color: #ff6600;
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.3);

	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;

	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.modal {
	background-color: #f2f2f2;

	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 30px 50px;
	width: 600px;
	max-width: 100%;
	text-align: center;
}

.modal h1 {
	margin: 0;
}

.modal p {
	font-size: 14px;
}

#open, #close {
	background-color: #ff6600;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 10px 25px;
	color: #f2f2f2;
	font-size: 1rem;
}

#open:hover, #close:hover {
	background-color: #e95d00;
}

@media screen and (min-width: 768px) {
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
	}
}